# Mostly copied from https://github.com/bazelbuild/rules_scala/blob/master/.travis.yml

# trusty beta image has jdk8, gcc4.8.4
dist: trusty
sudo: required
language: java

services:
  - docker

os:
  - linux
 #  - osx

env:
  # Bazel version to use for testing
  - V=0.16.1
  - V=0.17.2
  - V=0.18.1

before_install:
  - |
    if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
      OS=darwin
    else
      sysctl kernel.unprivileged_userns_clone=1
      sudo apt-get update -q
      sudo apt-get install libxml2-utils -y
      OS=linux
    fi
    if [[ $V =~ .*rc[0-9]+.* ]]; then
      PRE_RC=$(expr "$V" : '\([0-9.]*\)rc.*')
      RC_PRC=$(expr "$V" : '[0-9.]*\(rc.*\)')
      URL="https://storage.googleapis.com/bazel/${PRE_RC}/${RC_PRC}/bazel-${V}-installer-${OS}-x86_64.sh"
    else
      URL="https://github.com/bazelbuild/bazel/releases/download/${V}/bazel-${V}-installer-${OS}-x86_64.sh"
    fi
    wget -O install.sh "${URL}"
    chmod +x install.sh
    ./install.sh --user
    rm -f install.sh
  - cat .bazelrc.travis >> .bazelrc

script:
  # Debugging stuff
  - ifconfig
  # - echo $TRAVIS_COMMIT_RANGE
  # - git diff --name-only $TRAVIS_COMMIT_RANGE || true
  # - git diff --name-only $TRAVIS_COMMIT_RANGE | xargs -L1 bazel query || true
  - bazel query "kind(test, rdeps(//...,set($(git diff --name-only $TRAVIS_COMMIT_RANGE | xargs -L1 bazel query))))" || true

  # Ensure every file is a bazel asset
  - find * -type f | xargs -L1 bazel query > /dev/null

  # Quick test for only things that have changed, include a simple test case just in case no tests that need to be rerun are found
  - bazel test $(bazel query "kind(test, rdeps(//...,set($(git diff --name-only $TRAVIS_COMMIT_RANGE | xargs -L1 bazel query))))") //examples/python/simple/jpm:jpm_test

  # Full test, build, and e2e test
  #- bazel test //...
  #- bazel build //...
  - ./test_e2e.sh
